<div class="audiowrap">
  <button class="btn btn-xs btn-default" ng-click="play()">
    <span class="glyphicon glyphicon-play"></span>
  </button>
  <button class="btn btn-xs btn-default" ng-click="pause()">
    <span class="glyphicon glyphicon-pause"></span>
  </button>
  <div class="time">{{ ctime }} / {{ duration }}</div>
  <div class="volwrap">
    <img src="img/vol/0.png" ng-if="vol == 0.0">
    <img src="img/vol/33.png" ng-if="vol > 0.0 && vol <= 0.33">
    <img src="img/vol/66.png" ng-if="vol > 0.33 && vol <= 0.66">
    <img src="img/vol/100.png" ng-if="vol > 0.66">
    <div class="wrap2">
      <input type="range" min="0.0" max="1.0" step="0.05" ng-model="vol" ng-change="changevol()">
    </div>
  </div>
  <div class="rangewrap">
    <input type="range" min="0.0" max="{{ duration }}" step="0.1" ng-model="ctime" ng-change="changetime()">
  </div>
</div>